<%= form_for @profile, :url => profile_path do |f| %>
	<%= render :partial => "edit_profile" , :locals => { :f=>f } %>

	<%= render :partial => "edit_alumnus", :locals => { :f=>f }  %>

	<div class="button">
		<%= f.submit :submit %>
	</div>
<% end %>
<script>

$('.datetimepicker').datetimepicker({ format: 'YYYY-MM-DD' })

</script>