<%# program %>

<div class="program_cell">
	<div class="rank">
		1
	</div>

	<%= link_to program_path(program),:class=>"content" do %>

		<div class="school-box">

			<div class="name">
				pudue school
			</div>
			<div class="logo">
				logo
			</div>
		</div>

		<div class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat vero, officia beatae ullam, deserunt totam, soluta repudiandae nisi impedit eligendi magnam explicabo quibusdam at numquam cumque fugit facilis ad amet?
		</div>

	<% end %>

	<% if program.user_program_forms.empty?%>
		<%= link_to "add-fav", fevorite_myprogram_path(program), :class=>"btn btn-primary add-fav",:data => { :row_id => program.id },:remote=>true%>
	<% else %>
		<%= link_to "added", fevorite_myprogram_path(program), :class=>"btn btn-primary add-fav",:data => { :row_id => program.id },:remote=>true%>
	<% end %>
</div>
