<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
        <%= image_tag("double-square.png",:width=>"45px") %>
    </span>
    <h1 class="col-md-11">Requirements &amp; Criteria</h1>
</div>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <div class="sub-section">
        <h2>REQUIREMENT</h2>
        Recieved a four-year bachelor’s or equivalent degree prior to the semester of the application.
    </div>

    <div class="sub-section">
        <h2>LETTERS OF RECOMMENDATION</h2>
        <ul>
            <li>
                At least 3 letters of recommendation must be submitted electronically
            </li>
            <li>
                All your letters from academic or professional references as recent as possible
            </li>
        </ul>
    </div>

    <div class="sub-section">
        <h2>SUPPLEMENTARY FORM</h2>
        <p>There is currently no known required supplmentary form.</p>
    </div>

    <div class="sub-section">
        <h2>STATEMENT OF PURPOSE</h2>
        <p>
            Please upload your Statement of Purpose to the Electronic Graduate School Application.
            Your statement of purpose should include your name and, in addition, the following
            discussions:
            <ul>
                <li>Long Term Degree</li>
                <li>Research Experience</li>
                <li>Publication</li>
                <li>Future Research Interests</li>
                <li>Other Comments</li>
            </ul>
        </p>

    </div>

    <div class="sub-section">
        <h2>ENGLISH PROFICIENTCY</h2>
        <ul>
            <li>
                TOEFL - total of 100 on the internet-based test with at least 22 subsections
            </li>
            <li>
                GRE - not required for admission and do not need to be submitted
            </li>
        </ul>
    </div>

    <div class="sub-section">
        <h2>ELECTRONIC GRADUATE SCHOOL   APPLICATION</h2>
        <p>Please complete an online application. You will need to register for an account.</p>
    </div>

    <div class="sub-section">
        <h2>PAY THE APPLICATION FEE</h2>
        <p><strong>For interantional applicantss:</strong> there will be a fee of $75 U.S. Dollars per application.</p>
        <p><strong>For domestic applicants:</strong> there will be a fee of $60 U.S. Dollars per application.</p>
    </div>
</div>
