<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
        <%= image_tag("double-square.png",:width=>"45px") %>
    </span>
    <h1 class="col-md-11">Previously Admitted Students</h1>
</div>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <p style="font-size: 2.5em; color: rgb(76, 78, 80); margin-bottom: 0.5em;">
        Ellen Lai
    </p>

    <div class="sub-section">
        <h2>PROGRAM</h2>
        <p><strong>Doctor of Philosophy in Computer Science</strong></p>
        <p>Fall 2013</p>
    </div>

    <div class="sub-section">
        <h2>RESEARCH AREA</h2>
        <p><strong>Machine Learning and Data Mining</strong></p>
    </div>

    <div class="sub-section">
        <h2>PAST EDUCATION</h2>
        <p><strong>Master of Information Management</strong></p>
        <p style="margin-bottom: 1em;">National Taiwan University | Sep 2006 - Jun 2009</p>

        <p><strong>Bachelor of Information Management</strong></p>
        <p style="margin-bottom: 1em;">National Central University | Sep 2002 - Jun 2006</p>
    </div>

    <div class="sub-section">
        <h2>WORK EXPERIENCE</h2>
        <p><strong>Senior Software Engineer</strong></p>
        <p>Trend Micro | Jun 2009 - Mar 2012</p>
    </div>

    <div class="sub-section">
        <h2>RESEARCH EXPERIENCE</h2>
        <p><strong>Present Robotics Laboratory</strong></p>
        <p>Jul 2013</p>
    </div>

    <div class="sub-section">
        <h2>GRADES AND SCORES</h2>
        <p><strong>Master of Information Management</strong></p>
        <ul>
            <li>Overall: 3.93</li>
            <li>Major: 3.99</li>
            <li>Rank: 1 of 150</li>
        </ul>
        <p><strong>TOEFL</strong></p>
        <ul>
            <li>Reading: 28</li>
            <li>Listening: 26</li>
            <li>Speaking: 23</li>
            <li>Writing: 23</li>
            <li>Total: 100</li>
        </ul>
    </div>

    <div class="sub-section">
        <h2>AWARDS &amp; HONOURS</h2>
        <ul>
            <li>Presidential Award 7 times</li>
            <li>Honourable Mention, Ultra Precision Machining Competition</li>
        </ul>
    </div>
</div>
