<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
			<%= image_tag("double-square.png",:width=>"45px") %>
		</span>
    <h1 class="col-md-11">Location</h1>
</div>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48585.04014011597!2d-86.9275578!3d40.44062999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8812fd37423e0507%3A0x8eccb2cf8b1a7c8e!2sPurdue+University%2C+610+Purdue+Mall%2C+West+Lafayette%2C+IN+47907!5e0!3m2!1sen!2sus!4v1438218730924"
            width="650" height="600" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
</div>
