<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
        <%= image_tag("double-square.png",:width=>"45px") %>
    </span>
    <h1 class="col-md-11">Previously Admitted Students</h1>
</div>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <p style="font-size: 2.5em; color: rgb(76, 78, 80); margin-bottom: 0.5em;">
        Sam Ling
    </p>

    <div class="sub-section">
        <h2>PROGRAM</h2>
        <p><strong>Master of Science in Computer Science</strong></p>
        <p>Spring 2014</p>
    </div>

    <div class="sub-section">
        <h2>RESEARCH AREA</h2>
        <p><strong>Human-Computer Interaction</strong></p>
    </div>

    <div class="sub-section">
        <h2>PAST EDUCATION</h2>
        <p><strong>Bachelor of Honours Computer Science</strong></p>
        <p style="margin-bottom: 1em;">University of Waterloo | Sep 2008 - Jun 2013</p>
    </div>

    <div class="sub-section">
        <h2>WORK EXPERIENCE</h2>
        <p><strong>Applications Developer Co-op</strong></p>
        <p style="margin-bottom: 1em;">Sybase Canada | Aug 2012 - Dec 2012</p>

        <p><strong>Software Tools Developer Co-op</strong></p>
        <p style="margin-bottom: 1em;">Blackberry | Sep 2011 - Apr 2012</p>
    </div>

    <div class="sub-section">
        <h2>RESEARCH EXPERIENCE</h2>
        <p><strong>Curation of Distributed Research Respository</strong></p>
        <p>Jul 2014</p>
    </div>

    <div class="sub-section">
        <h2>GRADES AND SCORES</h2>
        <p><strong>Bachelor of Honours Computer Science</strong></p>
        <ul>
            <li>Overall: 3.43</li>
            <li>Major: 3.58</li>
        </ul>
        <p><strong>TOEFL</strong></p>
        <ul>
            <li>Reading: 26</li>
            <li>Listening: 27</li>
            <li>Speaking: 25</li>
            <li>Writing: 29</li>
            <li>Total: 107</li>
        </ul>
    </div>

    <div class="sub-section">
        <h2>AWARDS &amp; HONOURS</h2>
        <ul>
            <li>President's Scholarship</li>
        </ul>
    </div>
</div>
