<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
        <%= image_tag("double-square.png",:width=>"45px") %>
    </span>
    <h1 class="col-md-11">About The Program</h1>
</div>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <p>
        Purdue Computer Science is one of the country's top-ranked programs.
        Faculty members are shaping the future of information technology through
        cutting-edge research. Students can take courses that include such topics
        as graphics and animation, robotics, web programming, competitive
        programming, cryptography and security, networks, software engineering,
        distributed systems, information systems, artificial intelligence,
        and bioinformatics.
    </p>

    <p>
        The Purdue University Department of Computer Science has a comprehensive
        and exciting curriculum for its students. There is a great
        deal of flexibility in this curriculum. CS students begin by taking six
        core courses that teach them the fundamentals of computer science.
        Students can then select one or more Tracks, which allow them to deepen
        their understanding in a specific area (or areas) of Computer Science.
        These academic tracks include, for undergraduate students:
        <ul>
            <li>Computational Science and Engineering</li>
            <li>Computer Graphics and Visualization</li>
            <li>Database and Information Systems</li>
            <li>Foundations of Computer Science</li>
            <li>Machine Intelligence</li>
            <li>Programming languages</li>
            <li>Security</li>
            <li>Software Engineering</li>
            <li>Systems Programming</li>
        </ul>
     </p>

    <p>
        The graduate curriculum (Ph.D. and MS) prepares students for
        research and teaching. Regular courses are complemented with
        seminar courses, which allow students to investigate areas on the
        cutting edge of research. Multidisciplinary activities that
        strengthen the impact of computation in other disciplines
        play an essential role.
    </p>

    <p>
        For the MS program applicants can choose the course delivery:
        On Campus or Distance. The latter provides working professionals
        an opportunity to earn a non-thesis MS in CS via distance learning.
        This Master's program is for individuals with a bachelor's degree
        in Computer Science or Engineering.
    </p>

    <p>
        In the Fall of 2014, 270 graduate students are enrolled in our
        graduate program. Most of them receive financial support from Purdue.
    </p>

    <p>
        The graduate faculty consists of 47 members committed to
        experimental as well as theoretical research. The areas of research
        includes:
        <ul>
            <li>Bioinformatics and Computational Biology</li>
            <li>Computational Science and Engineering</li>
            <li>Databases</li>
            <li>Data Mining</li>
            <li>Distributed Systems</li>
            <li>Graphics and Visualization</li>
            <li>Information Retrieval</li>
            <li>Information Security and Assurance</li>
            <li>Machine Learning</li>
            <li>Networking and Operating Systems</li>
            <li>Programming Languages and Compilers</li>
            <li>Software Engineering</li>
            <li>Theory of Computing and Algorithms</li>
        </ul>
    </p>
</div>
