
<div class="wrapper">
  <div class="main-area">
		<%= render :partial=>"layouts/search_bar" %>

    <div class="search-result-area">
      <div class="search-result-body">
				<%= render :partial=>"/programs/program_row", :collection => @programs, :as => :program %>
				<% if @programs.length ==0  %>
					<h2 class="no-result">Sorry no result </h2>
				<% end %>
			</div>
		</div>
	</div>
</div>

