
<div class="program-list">
	<h1 class="title"> Computer Science </h1>

	<div class="list-box">

		<%= render :partial=>"/programs/program_row", :collection => @programs, :as => :program %>

		<% if @programs.length ==0  %>
			<h2 class="no-result">Sorry no result </h2>
		<% end %>
</div>
