
<div class="single-program">
<%= link_to "back", programs_path %>
	
	<div class="nav">



	</div>
	<div class="content">
		<div class="info">
			<div class="logo">
			</div>

			<div class="school-box">
				

			</div>



		</div>

		<div class="gallery">


		</div>

		<div class="map">

		</div>

		<div class="faculty">

		</div>

		<div class="PAS"> <%# previous admitted student %>
		
		</div>


	</div>



</div>

