<div class="landing-body">
	<div class="header">
		<div class="header-logo">
		</div>

		<div class="header-buttons">
			<% if current_user %>
				<%= link_to 'sign-out', destroy_user_session_path, :method=>:delete, :class=>"header-buttons-button" %>
			<% else %>
				<%= link_to 'sign-in', new_user_session_path, :class=>"header-buttons-button"%>
			<% end %>
		</div>
	</div>

	<div class="wrapper">
	  <div class="main-area">
	    <div class="slogan-landing-01">
	      Slogan
	    </div>
			<div class="slogan-landing-02">
	      Minor Slogan
	    </div>
	    <div class="search-bar">
					<div class="icon"></div>
					<div class="input-outer">
						<%= form_tag programs_path, :method=>:get do %>
							<%= text_field_tag 'keyword',nil, :placeholder=>"Your program", :class=>"input" %>
							<%# submit_tag 'search'%>
						<% end %>
					</div>
	        <div class="submit"></div>
	    </div>
	    <div class="description">
	      [description] Description goes here description goes here description goes here description goes here.
	    </div>
	  </div>
		<div class="lower-area">
			<div class="label">
				How to use
			</div>
			<div class="multiple-columns">
				<div class="column">
					<div class="column-item">
						<div class="column-item-header">
							Program List
						</div>
						<div class="column-item-body">
							<div class"column-item-text">
								Web Preview
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="column-item">
						<div class="column-item-header">
							Program Information
						</div>
						<div class="column-item-body">
							<div class"column-item-text">
								Web Preview
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="column-item">
						<div class="column-item-header">
							Program Progress
						</div>
						<div class="column-item-body">
							<div class"column-item-text">
								Web Preview
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
	  [footer]
	</div>
</div>


