<div class="contain">
	contain
	<div class="head-department">
		header
		<div class="pic">pic</div>
		<div id="main-department">main-department</div>
		<div class="progress-bar">progress-bar</div>
		<div class="continue"><a href="apge-6">continue</a></div>
	</div>
	<div class="arrow-down"></div>
	<div class="tab">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active tab-wait"><a href="#tab-wait" aria-controls="home" role="tab" data-toggle="tab">tab-wait</a></li>
    <li role="presentation" class="tab-inprogess"><a href="#tab-inprogess" aria-controls="profile" role="tab" data-toggle="tab">tab-inprogess</a></li>
    <li role="presentation" class="tab-compelete"><a href="#compelete" aria-controls="messages" role="tab" data-toggle="tab">tab-compelete</a></li>
  </ul>
  </div>
	<!-- Tab panes -->
  <div class="progress-list tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-wait">
			<% @programs.each do |p|%>
			<div class="info">
				<div class="department"><%= p.department%></div>
				<div class="progress-percen">progress-percen</div>
				<div class="number">number</div>
				<div class="link-4"><a href="link-4">link-4</a></div>
			</div>
			<% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-inprogess">
    	<% @programs.each do |p|%>
			<div class="info">
				<div class="department"><%= p.department%></div>
				<div class="progress-percen">progress-percen</div>
				<div class="number">number</div>
				<div class="link-4"><a href="link-4">link-4</a></div>
			</div>
			<% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-compelete">
			<% @programs.each do |p|%>
			<div class="info" data-did="<%=p.id%>">
				<div class="department"><%= p.department%></div>
				<div class="progress-percen">progress-percen</div>
				<div class="number">number</div>
				<div class="link-4"><a href="link-4">link-4</a></div>
			</div>
			<% end %>
    </div>

  </div>
</div>
<script>
	$(".info").on('click', function(event) {
		var d =$(this).children('.department').text();

		$("#main-department").text(d);
	});
</script>