<div class="contain">
	contain
	<div class="department">
		header
		<div class="pic">pic</div>
		<div class="department">
			Computer Science Michigan University
		</div>
		<div class="start">
			<a href="start">start</a>
		</div>
		<div class="message">
			<div class="message1">10k+ Applications</div>
			<div class="message2">10 hours Estimatedtime</div>
			<div class="message3">12/05/05 daedline</div>
		</div>
	</div>
	<div class="arrow-down"></div>
	<div class="progress-list">
		progress-list
		<div class="step1">step1</div>
		<div class="info">
			info
			<div class="progress-percen">progress-percen</div>
			<div class="infomation">infomation</div>
		</div>
		<div class="step2">step2</div>
		<div class="info">
			info
			<div class="progress-percen">progress-percen</div>
			<div class="infomation">infomation</div>
		</div>
		<div class="step3">step3</div>
		<div class="info">
			info
			<div class="progress-percen">progress-percen</div>
			<div class="infomation">infomation</div>
		</div>
		<div class="step4">step4</div>
		<div class="info">
			info
			<div class="progress-percen">progress-percen</div>
			<div class="infomation">infomation</div>
		</div>
	</div>