<!-- Main contents -->
<div class="contents row-fluid col-md-offset-1 col-md-10">
    <!-- Intro (upper section) -->
    <div id="program-intro" class="row-fluid col-md-12">
        <!-- Left part of the intro (name, logo, add) -->
        <div id="program-basics" class="col-md-3">
            <div id="program-name-short"><%#= @program.title %></div>
            <span id="program-ranking"><%#= @program.ranking %></span>
            <%#= link_to myprogram_path(@program) do %>
                            <p id="add-to-cart">Add</p>
            <%# end %>

            <div id="school-logo">
                <%#= image_tag(@program.school.logo.photo.url(:thumb), :width=>"50px") if @program.school.logo%>
                        </div>
        </div>

        <!-- Right part of the intro (name, descriptions) -->
        <div id="program-headings" class="col-md-9">
            <p id="school-name"> <%#= @program.school.name%> </p>
            <p id="program-name"> <%#= @program.title %> </p>
            <div id="program-stats" class="row">
                <span id="deadline" class="col-md-4">
                    <p> DEADLINE </p>
                    <p> <%#= @program.deadline %> </p>
                </span>
                <span id="time-required" class="col-md-4">
                    <p> TIME ESTIMATED </p>
                    <p> 10 Hours </p>
                </span>
                <span id="applicant-count" class="col-md-4">
                    <p>APPLICANTS</p>
                    <p> <%#= @program.tuition %> </p>
                </span>
            </div>
        </div>
    </div> <%# program-intro %>

    <!-- Details (lower section) -->
    <div id="program-details" class="row-fluid col-md-12">
        <!-- Navbar of the lower section (left half) -->
        <div id="detail-view-nav" class="col-md-2">
            <% FormKeyCategory.all.each do |fc|%>
            <a href="#detail-<%=fc.name%>">
                <p id="detail-about" class="detail-view-nav-item" value="about"><%=fc.name%></p>
            </a>
            <% end %>
        </div>
        <!-- Actual view of the lower section (right half) -->
        <div id="detail-view" class="col-md-10 row-fluid">
            <% FormKeyCategory.all.each do |fc|%>
            <div id="detail-<%=fc.id%>"> <%#= render :partial=>"programs/show_about" %>
            </div>
            <% end %>
        </div>

    </div> <%# program-details %>
</div>






