
.admin-box{
	.nav{
		float: left;
		height:1000px;
		width:10%;
		background-color: #7ee;

		ul{

			li{
				margin-top:20px;
				list-style: none;

				a{
					font-size:0.8em;
					width:100%;
				}
			}
		}
	}

	.content{
		float: left;
		height: 1000px;
		width:80%;
		padding:20px 5%;

		input[type="text"]{
			width:100px;
		}

	}
}

.admin-box{
	.content{
		.unit{
			display: inline-block;
			vertical-align: top;
			width: 280px;
			margin: 10px;
			border: 1px solid #aaa;

			.field::after{
				display:block;
				clear:both;
				content:"";
			}

			.field{
				padding:10px;

				.title{
					float: left;
					width:90px;
				}

				.value{
					float:left;
					width:150px;
				}

				.value-area{
					float:left;
					width:150px;
					max-height: 200px;
					overflow: scroll;
				}

				.area-input{
					height: 400px
				}
			}

			.field-pic{
				border: 1px solid #aaa;
			}
		}
	}
}

.admin-box .content{
	.unit-program-form-key{
		margin: 10px 0;
		width:800px;
		border:1px solid #ccc;
		padding:10px;

		.field-program-form-key-category{
			margin: 5px;

		}

		.field-program-form-key{
			margin-left: 20px;
			color: #aaa;

			.key{
				display: inline-block;
				width: 150px;
			}

			.key-type{
				display: inline-block;
				width: 100px;
			}

			.check{
				display: inline-block;
				width: 50px;
			}

			.show-unit{
				display: inline-block;
				width:180px;
			}

			.name-value, .desc-value{
				color:black;
			}



		}

	}
}

