.main-area {
  overflow: auto;
  text-align: center;
  min-width: 600px;
}

.main-area div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slogan-landing-01 {
  color: #ffffff;
  font-size: 36px;
}

.slogan-landing-02 {
  color: #9b9b9b;
  font-size: 24px;
}

.search-bar {
  background-image: url("../img/line_01.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  margin: 0 auto;
  line-height: 35px;
  height: 40px;
  width: 600px;
  padding: 0px;
}

.search-bar .icon {
  float: left;
  width: 35px;
  height: 35px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.search-bar .input-outer {
  float:left;
  width: 500px;
  line-height: 30px;
  padding: 0px 0px 0px 10px;
}

.input-outer .input-landing {
  vertical-align: bottom;
  background: transparent;
  border: none;
  height: 35px;
  width: 500px;
  font-size:30px;
  color: #ffffff;
}

.input-outer .input {
  vertical-align: bottom;
  background: transparent;
  border: none;
  height: 35px;
  width: 500px;
  font-size:30px;
  color: #00AFA3;
}

.search-bar .submit {
  float: right;
  width: 35px;
  height: 35px;
  background-image: url("../img/go.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.search-filter-area {
  color: #9B9B9B;
  font-size: 23px;
  margin: 0 auto;
  height: 30px;
  width: 600px;
  padding: 0px;
}

.search-filter-area div{
  float: left;
  width: 100px;
}

.search-filter-area .filter-item{
}

.search-filter-area .filter-item:hover{
  color: #00AFA3;
}

.description {
  color: #ffffff;
  font-size: 14px;
}

.search-result-area {
  width: 1000px;
  margin:0 auto;
  padding: 0px;
}

.search-result-body {

}

.search-result-body .search-result-item {
  height:100px;
  padding: 0 0 20px 0;
  /*border-style: solid;*/
}

.search-result-item .search-result-item-index{
  float: left;
  width: 20px;
  height: 100px;
  padding: 0px;

  font-size: 36px;
  color: #C9C9C7;

  /*border-style: solid;*/
}

.search-result-item .search-result-item-title{
  float: left;
  width: 200px;
  height: 100px;
  padding: 0 0 0 10px;

  font-size: 28px;
  color: #9B9B9B;
  /*border-style: solid;*/
}

.search-result-item .search-result-item-logo{
  float: left;
  width: 60px;
  height: 100px;
  padding: 0px;

  background-image: url("../img/CMU.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  /*border-style: solid;*/
}

.search-result-item .search-result-item-add{
  float: left;
  width: 100px;
  padding-top: 10px;

  color: #00AFA3;

  background-image: url("../img/add_bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search-result-item .search-result-item-add:hover{
  color: #ffffff;

  background-image: url("../img/added_bg.png");
}

.search-result-item .search-result-item-desciption{
  float: left;
  height: 100px;
  width: 600px;
  padding: 0px;

  text-align: left;
  /*border-style: solid;*/
}

.search-result-item .search-result-item-desciption .title{
  height: 25px;
  padding: 0 0 0 20px;
  color: #9B9B9B;
  font-size: 24px;
}

.search-result-item .search-result-item-desciption .content{
  height: 70px;
  padding: 0 0 0 20px;
  color: #C9C9C7;
  font-size: 14px;
  word-wrap: break-word;
}

.lower-area {
  padding-top: 50px;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.lower-area .label {
  color: #ffffff;
  font-size: 20px;
}

.multiple-columns {
  width: 99%;
  margin: 0 auto;
}

.multiple-columns .column {
  float:left;
  width: 33%;
  border-right: 1px dotted #c9c9c7;
}

.multiple-columns .column:first-of-type {
  width: 33%;
}

.multiple-columns .column:last-of-type {
  width: 33%;
  border-right: 0px;
}

.column-item {
}

.column-item .column-item-header{
  background: rgba(0, 0, 0, .3);
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-item .column-item-body {
  background: rgba(255, 255, 255, .2);
  padding-top: 10px;
  padding-bottom: 10px;

  height: 300px;
}

.column-item-body div {
    color: #000000;
}

.info-item-area {
  overflow: auto;
  width: 90%;
  min-width: 500px;
  margin:0 auto;
  text-align: center;
  /*border-style: dotted;*/
}

.info-item-area .info-item{
  min-width: 500px;
  width: 60%;
  margin:0 auto;
  text-align: left;

  overflow: auto;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;

  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
}

.info-item:first-of-type{
  border-top-style: solid;
}

.info-item:last-of-type{
  border-bottom-style: solid;
}

.info-item .info-item-pic {
  float:left;
  width:15%;
}

.info-item .info-item-body {
  float:left;
  width:85%;
}

.info-item-body .info-item-title {
  text-decoration: underline;
}

.landing-body {
  background-image: url("../img/landing_bg.png");
  background-position: 0px -50px, top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040302;
  min-height: 800px;
}
