
h1, h2, h3, p, div{
	margin: 0px;
}


.header-box{
	$header-height: 60px;
	padding:10px 10%;
	background-color: #afa;
	height: $header-height;
	

	.logo{
		display: inline-block;
		float: left;
		font-size: 2.0em;
	}

	.user-info{
		display: inline-block;
		float: right;
		>* {
			margin-right:10px;
		}
		p{
			font-size: 1.2em;
		}

	}

}


.search-bar{
	$search-bar-height: 80px;

	padding:20px 10%;
	background-color: #5ff;
	height: $search-bar-height;

	*{
		display: inline-block;
		margin-right: 20px;
	}

	input[type="text"]{
		width:400px;
	}
}


#wlecome-header-box{
	background-color: #aaa;
}

.welcome-box{
	background-color: #aaa;
	height: 1000px;

	.center-box{
		margin:0 auto;
		padding-top: 200px;
		width:50%;
		text-align: center;

	  >*{
			margin-top:30px;
			margin-top:30px;
	  }

		input[type="text"]{
			width:400px;
			margin-left:20px;
			margin-right: 20px;
		}

	

	}

}




.program-list{
	$program-unit-height:120px;	
	
	.title{
		border:1px solid #bbb;
		margin:5px;
	}
	
	.list-box{
		border:1px solid #afa;
		margin:5px;
	
		.program_cell {
			height: $program-unit-height;

			>* {
				float:left;
			}

			.rank {
				width:5%;
				border:1px solid #aaa;
				height: $program-unit-height;
				text-align: center;
			}

			.content{			
				width: 85%;
				display: block;

				.school-box{
					height: $program-unit-height * 0.4 - 5px;
					.name {
						border:1px solid #aaa;
					}

					.logo {
						border:1px solid #aaa;
					}
				}

				.description{
					height: $program-unit-height * 0.6 - 5px;

				}
			}

			.add-fav{
				width:10%;
				float: right;
			}

		}

		.no-result {
			width:50%;
			text-align: center;
			margin: 20px auto;
		}

	}
}



.single-program{
	::after{
		content:"";
		display: block;
		clear:both;
	};

	.info {
		height: 100px;
		padding: 10px;
		background-color: #ffa;

		>*{
			float: left;
		}

		.logo{
			width:10%;
			padding:10px 10px 10px;
			max-height: 40px;

			img{
				width:calc(90% - 10px);
			}
		}

		.school-box{
			width:80%;

			h3{
				padding: 10px
			}

			p{			
				padding:10px;
			}
		}

		.fav{
			width:10%;
			padding:20px;
			font-size: 2em;
			text-align: center;
		}

	}

	$single-program-content-height:1000px;

	.nav{
		background-color: #aff;
		width:20%;
		float: left;
		height: $single-program-content-height;

		li{
			margin-top: 20px;
			list-style: none;

			a {
				width: 80%;
				word-break:break-all;
			}
		}


	}
	
	.content{
		background-color: #aaa;
		width:80%;
		height: $single-program-content-height;
		float: left;
		padding:20px 2%;

		.gallery{
			width:95%;
			padding-bottom: 20px;
			border-bottom: 2px solid #999;
			>*{
				float: left;
			}

			.main-pic{
				width:42%;
				margin: 10px 2%;
			}
	
			.sub-pic-box{
				width:42%;
				margin: 10px 2%;

			 .sub-pic-row{
					width:100%;	
						
					.sub-pic{
						float: left;
						width:40%;
						margin: 3%;
  				}
				}
			}

			img{
				width:100%;
				max-height: 300px;
			}
		}

	}

	.map{
		margin:30px auto;
		text-align: center;
	}
}


.sign-up, .sign-in{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	.field{
		margin-top: 10px;
		.title{
			width:200px;
		}
		.required{
			font-size: 0.5em;
			color: red;
		}
	}
}









