.selected-thumbnail {
    border: 0.2em solid rgb(0, 176, 165);
}

.gallery-thumbnail {
    cursor: pointer;
    padding: 0;
    margin: 0.5em 0.2em;
    height: 70px;
    width: 70px;
}

#gallery-back-button, #gallery-next-button {
    cursor: pointer;
}

.gallery-control {
    padding: 0;
    margin: 0.5em 0;
    height: 70px;
    width: 45px;
}
