

.myprogram-start{
	padding:32px 0 0;

	.myprogram-start-icon{
    background-color: #00afa3;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-family: "SanFranciscoDisplay-bold"
  }
}

