// Place all the styles related to the user_programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	.contain{
		div{

	    text-align: center;
		}
		.department{
			.pic{
				height: 100px;
				width: 100px;
				margin: 0 auto;
			}
			.message{

				zoom:1; clear:both;
				div{
					float:left;
					margin: 0 auto;
				}
			}
			.message:after {content:''; display:block; clear:both; visibility:hidden; height:0;}
		}
	}
	.progress-percen {
		float: left;
		width: 10%;
	}
	.infomation{
		float: left;
		width: 80%;
	}
	.info,.clear {
		zoom:1; clear:both;
	}
	.info:after,.clear,.tab:after {content:''; display:block; clear:both; visibility:hidden; height:0;}
	.arrow-down {
	    width:0px; height:0px; border:20px solid; border-color:#f00 transparent transparent transparent;
	}
	.tab>div,.info>div{
		float: left;
	}