


<% if welcome %>
<div class="header-box" id="wlecome-header-box">
<% else %>
<div class="header-box">
<% end %>

	<div class="logo">
		<span class="label label-default"> (A) APPLYTE </span>

	</div>
	<div class="user-info">
		<span class="label label-default"> My progress </span>
		<span class="label label-default"> Log out </span>
	</div>
</div>



