

<div class="search-bar">
	<div class="icon"></div>
	<%= form_tag programs_path, :method=>:get do %>
		<div class="input-outer">
			<%= text_field_tag 'keyword',nil, :placeholder=>"Computer Science", :class=>"input" %>
		</div>
      <div class="submit"></div>
	<% end %>
</div>

<div class="search-filter-area">
	<div>Sort by </div>
	<div class="filter-item">Ranking</div>
	<div class="filter-item">Tuition</div>
	<div class="filter-item">Deadline</div>
</div>


