

<div class="search-bar">
	<span class="label label-default"> search input </span>
	<span class="label label-primary"> search button </span>
	<span class="label label-info"> ranking </span>



</div>


